body {
    font: Arial, sans-serif;
    background-color: rgb(247, 241, 230);
}

.card {
    padding: 10px 100px 10px 100px;
}

.navbar,
.card {
    background-color: bisque;
}

.container {
    margin-top: 3%;
}

#rbrand {
    margin: 15px 5px 5px 0px
}

ol.list {
    list-style-type: decimal;
}

.done-true {
    text-decoration: line-through;
    color: grey;
}

#inAdd {
    background-color: rgb(247, 241, 230);
}

#btnAdd {
    background-color: #F1C40F;
    border-color: #444B54;
    color: #17181a;
}

#btnAdd:hover {
    background-color: #ebd270;
    border-color: #444B54;
    color: #17181a;
}